parameters:
    level: max
    paths:
        - src
    reportUnmatchedIgnoredErrors: true
    scanFiles:
        - phpstan/stubs/Time/Duration.php
includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
